@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

body {
  background-color: #ffffff;
  color: #000000;
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 24px 24px;
}
